<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="https://www.nestvzla.com/page/Home_files/i.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  

    <title>Nest coworking </title>
    <script type="module" crossorigin src="http://191.97.17.26:8051/v3.0/administracion/assets/index-8O4pEu6W.js"></script>
    <link rel="stylesheet" crossorigin href="http://191.97.17.26:8051/v3.0/administracion/assets/index-sAkFY4BO.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
